<head>
    <meta charset="UTF-8" />
    <title>Abrigo Meimei</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
  </head>
  
  <body class="body">
  
  <div class="faixa-superior" [class.reduzida]="barraReduzida">
    
  
    <nav class="menu-botoes" [class.fixo]="barraReduzida">
      <button (click)="irParaPagina('doacoes')">Doações</button>
      <button (click)="irParaPagina('sobreNos')">Sobre Nós</button>
      <button (click)="irParaPagina('disponiveis')">Animais Disponíveis</button>
    </nav>
    <div class="centro-logo-texto">
      <button class="botao-logo" (click)="irParaPagina('home')">
        <img src="logoGrande.png" class="logo-centro" alt="Logo do abrigo">
      </button>
      <h3 *ngIf="!barraReduzida">Um lar para cada pet</h3>
    </div>
    <nav class="menu-botoes" [class.fixo]="barraReduzida">
      <button (click)="irParaPagina('abandono')">Informar Abandono</button>
      <button (click)="irParaPagina('voluntariado')">Voluntariado</button>
      <button (click)="irParaPagina('contato')">Contato</button>
    </nav>
  </div>
  
  <main [class.com-margem]="!barraReduzida">
    <router-outlet></router-outlet>
  </main>
  </body>